*{
    padding:0;
    margin:0;

    

}
.container{
    display:flex;
    background-color:gainsboro;
   
}
/* photo div*/


.my-self{
    
    width:50%;
    display:inline-block;
    background-color:white;
    margin:15px;
   /* box-shadow:4px 4px 5px;*/
    height:fit-content
    
}
/*personal details div*/
.name_space{
 position:relative;
 top:0;
}

.name_space img{
    width:100%;
    height:250px;
    
    display:inline-block;
   
}
.name_space h2{
    position:absolute;
    bottom:30px;
    background-color: transparent;
    color:black;
    margin-left:10px;
    font-size:30px;
    
}
.personal{
 margin:20px;
    
}
.personal_detailes{
    margin-top:7px;
    list-style-type:none;
}
.ps{
    display:inline;
    margin-left:5px;
    color:grey;
    font-size:16px;
}

/*Skills*/
.skills{
    display:inline;
    margin-left:15px;
    font-weight: bold;
    color:grey;
}
.skills-image{
    margin-top:10px;

}
.progress-container{
    height:14px;
      background-color: #ddd;
      border-radius: 10px;
}
.progress{
height:15px;
border-radius:10px;
background-color:#009688;
text-align:center;
color:white;
font-size:12px;


}
.skill-values{
    padding:10px;
    color:grey;
}
/* Language*/
.language{
    display:inline;
    margin-left:10px;
    text-align:center ;
    font-weight:bold ;
    color:grey;
  
}
.language-image{
    margin-top:20px;
}
.prograss-container1{
height:14px;
border-radius:10px;
background-color: #ddd;

}
.progress1{
    height:14px;
    border-radius:10px;
    background-color:#009688;
}

    .language-progress{
        margin:10px;
        color:grey;
    }
    
  /* work experience div*/  
  .container1{
    display:flex;
    flex-direction:column;
    background-color:gainsboro;
    margin:15px;

  }
.work{
    
    flex-direction: row;
    
    background-color:white;
    width:100%;
   height:fit-content;

 /* box-shadow:4px 4px 4px;*/
    
    
}
.workExp{
    display:inline-block;
    margin-left:25px;
    padding-top:10px;
    color:grey;
    
    font-size: xx-large;
    
}
.work-image{
    margin:20px;
    margin-top:10px;
    display:inline-block;

}
.dev{
    margin:20px;
    color:grey;
    font-size:large;

}
.date{
    display:inline;
    color:#009688;
    margin-left:5px
}
.work i{
    margin-left:25px;  
}
.work button{
    background-color:#009688;
    color:white;
    border-radius:3px;
    padding:3px;
}
.para{
    margin:25px;
    color:black;
    
}
.work hr{
    
    margin-left:20px;
    margin-right:20px
}
    
   .education{
display:flex;
flex-direction:column;
margin-top:20px;
background-color:white;
height:fit-content;
   }
   .education-Title{
    display:inline;
    margin-left:25px;
    padding-top:10px;
    color:grey;
    
    font-size: xx-large;
   }

.education-place{
    margin-left:20px;
    margin-top:10px;
    color:grey;
    font-size:large;
}
.fa{
    margin-left:25px;
    margin-top:10px;
    color:#009688;
    
}
.date-define{
    display:inline;
    color:#009688;
    margin-left:25px;
}
.education-para{
margin-left:20px;
margin-top:10px;
}

  .education hr{
    margin-left:20px;
    margin-right:20px
  }

.fooder{
    background-color: #009688;
    color:white;
    
    text-align: center;
}
.fooder i{
color:white;
margin:0;
} 
.fooder p{
    padding:10px;
    font-size:16px;
}

  

    