*{
    padding:0;
    margin:0;

    

}
.container{
    display:flex;
    background-color:white;
   
}
/* photo div*/


.my-self{
    
    width:45%;
    display:inline-block;
    background-color:white;
    margin:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height:fit-content;
    
}
/*personal details div*/
.name_space{
 position:relative;
 top:0;
}

.name_space img{
    width:100%;
    height:250px;
    
    display:inline-block;
   
}
.name_space h2{
    position:absolute;
    bottom:30px;
    background-color: transparent;
    color:black;
    margin-left:10px;
    font-size:30px;
    
}
.personal{
 margin:20px;
    
}
.personal_detailes{
    margin-top:7px;
    list-style-type:none;
}
.ps{
    display:inline;
    margin-left:5px;
    color:#757575;
    font-size:16px;
}

.personal i{
margin:0;
padding:5px
}
/*Skills*/
.skills{
    display:inline;
    margin-left:15px;
    font-weight: bold;
    color:#757575;
}
.progress-container{
    height:14px;
      background-color: #ddd;
      border-radius: 10px;
}
.progress{
height:15px;
border-radius:10px;
background-color:#009688;
text-align:center;
color:white;
font-size:12px;


}
.skill-values{
    
    padding-left:2px;
    color:black;
    opacity:0.60;
    margin-top:10px;
    margin-bottom:10px;
}
/* Language*/
.language{
    display:inline;
    margin-left:5px;
   text-align:center;
    font-size:16px;
    font-weight:bold;
    color:black;
    opacity: 0.60;
    margin-top:30px;
  
}
#one{
    margin-top:30px;
    font-size:20px;
}
.progress-container1{
height:24px;
border-radius:10px;
background-color: #ddd;

}


.progress1{
    height:24px;
    border-radius:10px;
    background-color:#009688;
}

    .language-progress{
        margin-left:5px;
        margin-top:10px;
        margin-bottom:10px;

        color:black;
        opacity:0.60;

    }
   
  /* work experience div*/  
  .container1{
    display:flex;
    flex-direction:column;
    background-color:white;
    margin:15px;
    


  }
.work{
    
    flex-direction: row;
    
    background-color:white;
    width:100%;
   height:fit-content;

   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}
.workExp{
    display:inline-block;
    margin-left:25px;
    padding-top:10px;
    color:black;
    opacity:0.60;
    font-size: xx-large;

}
.work-image{
    margin:20px;
    margin-top:10px;
    display:inline-block;

}
.dev{
    margin:25px;
    color:black;
    opacity:0.60;
    font-size:large;

}.date{
    display:inline;
    color:#009688;
    margin-left:5px 
}

.work i{
    margin-left:25px;
    display:inline;
    color:#009688;
     
}
.work button{
    background-color:#009688;
    color:white;
    border-radius:3px;
    padding:3px;
    border:none;
}
.para{
    margin:25px;
    color:black;
    
}
.work hr{
    
    margin-left:20px;
    margin-right:20px
}
    
   .education{
display:flex;
flex-direction:column;
margin-top:20px;
background-color:white;
height:fit-content;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .education-Title{
    margin-left:10px;
    padding-top:10px;
    color:black;
    opacity:0.60;
    display:inline;
    font-size: xx-large;
   }

.education-place{
    margin-left:25px;
    margin-top:10px;
    margin-bottom:10px;
    color:black;
    opacity:0.60;
    font-size:large;
}
.education i{
    margin-left:10px;
    margin-top:10px;
    color:#009688;
     
}
.two{
    color:#009688;
}
.date-define{
    display:inline;
    color:#009688;
    margin-left:10px;
    margin-bottom:10px;
}
.education-para{
margin-left:20px;
margin-top:10px;
margin-bottom:10px;
}

  .education hr{
    margin-left:20px;
    margin-right:20px
  }
 

.fooder{
    background-color: #009688;
    color:white;
    
    text-align: center;
}
.fooder i{
color:white;
margin:0;
} 
.fooder p{
    padding:10px;
    font-size:16px;
}


@media only screen and (max-width: 768px) {
        
    .my-self{
       width: 100%;
    }
   }
   @media only screen and (max-width: 768px) {
     
     .container{
        flex-direction:column;
     }
    }
    @media only screen and (max-width:768px){

    }.container1{
     width:100%;
    }
 
  

    